body {
  color: pink;
}

h1 {
  color: rgb(0, 137, 144);
}

.quote {
  color: rgb(67, 67, 67);
}

.quote.narrator {
  color: rgb(48, 100, 18);
}

#intro p {
  color: rgb(185, 1, 133);
}

.super-important-omg {
  font-size: 20px;
  background-color: yellow;
}
